absl-py==1.4.0
amqp==5.2.0
appnope==0.1.3
asgiref==3.7.2
astroid==3.0.2
asttokens==2.2.1
astunparse==1.6.3
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==4.2.0
branca==0.6.0
cachetools==5.3.1
celery==5.3.6
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
cloudpickle==2.2.1
comm==0.1.3
contourpy==1.1.0
cron-descriptor==1.4.0
cryptography==41.0.3
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
dill==0.3.7
Django==4.2.8
django-celery-beat==2.5.0
django-cron==0.6.0
django-crontab==0.7.1
django-timezone-field==6.1.0
exceptiongroup==1.2.0
executing==1.2.0
filelock==3.12.2
fiona==1.9.5
flatbuffers==23.5.26
folium==0.15.1
fonttools==4.42.0
gast==0.4.0
GDAL==3.6.4
gdown==4.7.1
geographiclib==2.0
geopandas==0.14.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.2
h11==0.14.0
h5py==3.9.0
idna==3.6
ipykernel==6.24.0
ipython==8.14.0
isort==5.13.1
jedi==0.18.2
jellyfish==0.11.2
Jinja2==3.1.2
joblib==1.3.1
jupyter_client==8.3.0
jupyter_core==5.3.1
keras==2.13.1
kiwisolver==1.4.4
kombu==5.3.4
lib50==3.0.7
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
nest-asyncio==1.5.6
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.0.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.8.0
prompt-toolkit==3.0.38
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pygame==2.5.1
Pygments==2.15.1
pylint==3.0.3
pyparsing==3.0.9
pyproj==3.6.0
PySocks==1.7.1
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywatchman==1.4.1
PyYAML==6.0.1
pyzmq==25.1.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.0
scipy==1.11.1
selenium==4.16.0
shapely==2.0.2
six==1.16.0
sklearn==0.0.post7
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.2
submit50==3.1.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==1.1.0
threadpoolctl==3.2.0
tomlkit==0.12.3
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.6
webdriver-manager==4.0.1
Werkzeug==2.3.6
wrapt==1.15.0
wsproto==1.2.0
xgboost==1.7.6
xyzservices==2023.10.1
